{% extends "base.html" %}
{% block title %}Nova/Editar Pessoa{% endblock %}
{% block content %}
{% set pessoa = pessoa if pessoa is defined else {} %}
<h1>Formulário de Pessoa</h1>
<form method="post">
  <div>
    <label>Nome</label><br>
    <input type="text" name="nome" value="{{ pessoa.get('nome','') }}">
  </div>
  <div>
    <label>E-mail</label><br>
    <input type="email" name="email" value="{{ pessoa.get('email','') }}">
  </div>
  <div>
    <label>Telefone</label><br>
    <input type="text" name="telefone" value="{{ pessoa.get('telefone','') }}">
  </div>
  <div style="margin-top:1rem;">
    <button type="submit">Salvar</button>
    <a class="btn" href="{{ url_for('people.lista') }}">Cancelar</a>
  </div>
</form>
{% endblock %}
